# Dependencies & Build Outputs
node_modules/
dist/
build/
target/
.mvn/
*.jar

# IDE & Editor Files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment & Logs
.env
*.log
logs/

# Database / Storage
postgres_data/
redis_data/

# Tools & Binaries
jdk17/
maven/

